@tailwind base;
@tailwind components;
@tailwind utilities;

.header-link-style {
  margin-right: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #757575;
}
.btn-primary {
  @apply bg-gradient-to-br from-[#7E90FE] to-[#9873FF] px-7 py-4 rounded-lg text-white font-semibold text-xl;
}

.active {
  @apply font-medium tracking-wide text-violet-700 transition-colors duration-200 hover:text-violet-400;
}

.job-category {
  @apply bg-violet-50 p-10 rounded-lg;
}
.job-category img {
  height: 40px;
  width: 40px;
}

.job-info {
  padding: 40px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
}
.job-info img {
  height: 120px;
  width: 140px;
}

.btn-job-type {
  @apply text-violet-500 font-semibold text-xl border-2 px-5 py-2 border-violet-400 rounded-lg mr-5;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
